# ignore everything
/**

# whitelist directories that contain dotfiles
!/.config
!/.config/**
!/.dotfiles
!/.dotfiles/**
!/.github
!/.github/**
!/.vim
!/.vim/**
!/.w3m
!/.w3m/**

# whitelist dotfiles that aren't in the directories above
!/.*{.conf,rc}
!/.bash_{profile,logout}
!/.git{ignore,modules}
!/.{dircolors,editorconfig,profile,xprofile,Xresources}
!/dev/work/calcite-design-system/calcite-components.projections.json
!/dev/lib/fzf
!/dev/lib/neovim

# ignore specific files within whitelisted directories
/.config/vifm/vifm{-help,info}*
/.dotfiles/cache/
/.vim/.netrwhist
/.vim/after/syntax/*/gruvbox_material.vim
/.vim/backups/
/.vim/doc/tags
/.vim/swaps/
/.vim/undos/
/.w3m/cookies
/.w3m/history

# ignore common patterns that could be in multiple whitelisted directories
*.dict
*.spl
.local.*
