[submodule ".dotfiles/vendor/fzf"]
	path = .dotfiles/vendor/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".dotfiles/vendor/git-fuzzy"]
	path = .dotfiles/vendor/git-fuzzy
	url = git@github.com:bigH/git-fuzzy.git
