.config/nvim/plugin/packer_compiled.lua
.dotfiles/cache/*
.dotfiles/git/personal.gitconfig
.vim/undos/
.vim/swaps/
.vim/backups/
.vim/.netrwhist
# home directories
.cache
.cargo
.icons
.local
.lua-rocks
.mozilla
.steam
.themes
.thunderbird
.var
.volta
.vscode
Documents
Downloads
Music
Pictures
Steam
Videos
go
