# This file controls the behavior of line input editing for programs that use
# the GNU readline(3) library, e.g. FTP, Bash, and GDB.
# https://www.gnu.org/savannah-checkouts/gnu/bash/manual/bash.html#Readline-Init-File-Syntax
#
# You can re-read the inputrc file with C-x C-r.
# Lines beginning with '#' are comments.
#
# First, include system-wide bindings and variable assignments in /etc/inputrc
$include /etc/inputrc

set bell-style none
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set completion-query-items 150
set enable-bracketed-paste on
set history-preserve-point on
set keyseq-timeout 70
set mark-symlinked-directories on
set match-hidden-files off
set menu-complete-display-prefix on
set page-completions off
set print-completions-horizontally on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on
set visible-stats on

set keymap vi-command
    "\ee": emacs-editing-mode
    k: history-search-backward
    j: history-search-forward
    "\C-e": vi-append-eol
    "\C-a": vi-insert-beg
    "\C-w": unix-word-rubout
    "\C-u": backward-kill-line
    "\C-d": delete-char

set keymap vi-insert
    "\ee": emacs-editing-mode
    "\C-xc": vi-movement-mode

    Tab: menu-complete
    "\e[Z": menu-complete-backward
    "\C-n": history-search-forward
    "\C-p": history-search-backward

    # add some common emacs mappings to vi insert mode
    "\ef": forward-word
    "\eb": backward-word
    "\ed": kill-word
    "\C-w": backward-kill-word
    "\C-k": kill-line
    "\C-u": backward-kill-line
    "\C-d": delete-char
    "\C-f": forward-char
    "\C-b": backward-char
    "\C-e": end-of-line
    "\C-a": beginning-of-line
    "\C-l": clear-screen
    "\C-y": yank

set keymap emacs
    "\ee": vi-editing-mode
    Esc: "\ee\C-xc"

    # step through list of completions
    Tab: menu-complete
    "\e[Z": menu-complete-backward

    # search history starting with chars up to cursor position
    "\C-n": history-search-forward
    "\C-p": history-search-backward

    # Expand ! history by pressing space. Introduced in Bash v2.02
    Space: magic-space

    # Open vifm in the current directory
    "\e-": "vifm .\C-m"

    # List out matching commands from history
    "\C-]": dabbrev-expand

    # Expand variables like ~ and $USER to their values
    "\C-xv": shell-expand-line

    # perform pathname expansion on the word before point
    "\C-xp": glob-expand-word

    # Wrap a command in $( ... )
    "\C-xq": "\C-a\$(\C-e)"

    # Wrap the current command in $( .... | fzf)
    "\C-xf": "\C-e | fzf --ansi --height 40)\C-a $(\C-a"

    # Pipe the last command to fzf and pass the output to a new command
    "\C-xF": '$(!!|fzf --ansi --height 40)\C-a \C-m\C-m'
