# This file controls the behavior of line input editing for programs that use
# the GNU Readline library, e.g. FTP, Bash, and GDB.
# https://www.gnu.org/savannah-checkouts/gnu/bash/manual/bash.html#Readline-Init-File-Syntax
#
# You can re-read the inputrc file with C-x C-r.
# Lines beginning with '#' are comments.
#
# First, include any system-wide bindings and variable
# assignments from /etc/Inputrc
$include /etc/inputrc

set bell-style none
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set completion-query-items 169
set enable-bracketed-paste on
set expand-tilde on
set history-preserve-point on
set keyseq-timeout 1337
set mark-symlinked-directories on
set match-hidden-files off
set menu-complete-display-prefix on
set page-completions off
set print-completions-horizontally on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on
set visible-stats on

set keymap vi-command
"\ee": emacs-editing-mode

set keymap vi-insert
"\ee": emacs-editing-mode
"\C-xc": vi-movement-mode

TAB: menu-complete
"\e[Z": menu-complete-backward
"\C-n": history-search-forward
"\C-p": history-search-backward

"\ef": forward-word
"\eb": backward-word
"\ed": kill-word
"\C-w": backward-kill-word
"\C-k": kill-line
"\C-u": backward-kill-line
"\C-d": delete-char
"\C-f": forward-char
"\C-b": backward-char
"\C-e": end-of-line
"\C-a": beginning-of-line
"\C-l": clear-screen
"\C-y": yank

set keymap emacs
"\ee": vi-editing-mode
ESC: "\ee\C-xc"

TAB: menu-complete
"\e[Z": menu-complete-backward
"\C-n": history-search-forward
"\C-p": history-search-backward

$if Bash
	# Expand ! history by pressing space. Introduced in Bash v2.02
	Space: magic-space

  # List out matching commands from history
  "\C-]": dabbrev-expand

  # Wrap a command in $( ... )
  "\C-xq": "\C-a\$(\C-e)"

  # Open vifm in the current directory
  "\e-": "vifm .\C-m"

  # Pipe the last command to fzf and pass the output to a new command
  "\C-xF": '$(!!|fzf --ansi --height 40)\C-a \C-m\C-m'

  # Wrap the current command in $( .... | fzf)
  "\C-xf": "\C-e | fzf --ansi --height 40)\C-a $(\C-a"
$endif
