#!/usr/bin/env sh
# shellcheck disable=2086

has() { command -v "$1" >/dev/null 2>&1; }

# # configure display
if has xrandr && has grep; then
    if xrandr -q | grep -q 'eDP-1 connected'; then
        xrandr --output eDP-1 --mode 1920x1080 --rate 60 --primary --scale 1
    fi
    if xrandr -q | grep -q 'DP-1 connected'; then
        xrandr --output DP-1 --mode 2560x1440 --rate 60 --primary --scale 1
    fi
    if xrandr -q | grep -q 'HDMI-0 connected'; then
        xrandr --output HDMI-0 --mode 2560x1440 --rate 60 --primary --scale 1
    fi
fi

# change touchpad settings
if has xinput && has grep && has cut; then
    # get the touchpad input's id
    touchpad_id="$(
        xinput list | grep -i "Touchpad" | sed -e 's/.*id=\([0-9]*\).*/\1/'
    )"
    # use the id to set values for acceleration and natural scrolling
    xinput --set-prop $touchpad_id "libinput Natural Scrolling Enabled" 1
    xinput --set-prop $touchpad_id "libinput Accel Speed" 0.25
fi

# # change keyboard settings, see options: $ localectl list-x11-keymap-options
# if has setxkbmap; then
#     setxkbmap -option \
#         -option terminate:ctrl_alt_bksp \
#         -option caps:swapescape \
#         -option shift:both_capslock
# fi

# set wallpaper
wallpaper="$(xdg-user-dir PICTURES)/Wallpapers/current"
if [ -r "$wallpaper" ]; then
    case "$XDG_CURRENT_DESKTOP" in
        *gnome* | *GNOME*)
            if has gsettings; then
                gsettings set org.gnome.desktop.background picture-uri \
                    "file://$wallpaper"
                gsettings set org.gnome.desktop.background picture-uri-dark \
                    "file://$wallpaper"
            fi
            ;;
        *)
            if has feh; then
                feh --no-fehbg --bg-center --image-bg "#3c3836" "$wallpaper"
            fi
            ;;
    esac
fi

# notifications
[ -f /usr/bin/dunst ] && /usr/bin/dunst &

# local stuff
[ -r "$HOME/.xprofile.local" ] && . "$HOME/.xprofile.local"
