#!/usr/bin/env sh
# shellcheck disable=2086

# start notifications daemon
[ -x /usr/bin/dunst ] && /usr/bin/dunst >/dev/null 2>&1 &

# change keyboard settings, see options: $ localectl list-x11-keymap-options
[ -x /usr/bin/setxkbmap ] &&
    /usr/bin/setxkbmap -option \
        -option caps:escape \
        -option terminate:ctrl_alt_bksp
        # -option shift:both_capslock \
        # -option shift:breaks_caps \

# set wallpaper
wallpaper="$(xdg-user-dir PICTURES)/Wallpapers/current"
[ -f "$wallpaper" ] && [ -x /usr/bin/feh ] &&
    /usr/bin/feh --no-fehbg --bg-center --image-bg "#3c3836" "$wallpaper"

# local stuff
[ -r "$HOME/.xprofile.local" ] && . "$HOME/.xprofile.local"
