#!/bin/sh

# General
# -----------------------------------------------------------------------------

alias c='clear'
alias q='exit'
alias quit="exit"

# rerun last command as sudo
alias plz='sudo $(fc -ln -1)'
# Enable aliases to be sudo’ed
alias sudo='sudo '

# Searches history.
alias h='history_search' # see file `functions`
alias hs='history_session_search' # see file `functions`


alias md='mkdir -p'
alias rd='rmdir'
alias rr='rm -rf'
# Creates parent directories on demand.
alias mkdir='mkdir -pv'

# copy/paste from clipboard
alias cc="echo @{0} | tr -d '\n' | xclip -selection c"
alias pc="echo @{0} | xclip -selection c -o"
# copy to clipboard from file
alias ccf="xclip -se c <"


# Directory listing/traversal

LS_COLORS="$(is-supported "ls --color" --color -G)"
LS_TIMESTYLEISO=$(is-supported "ls --time-style=long-iso" --time-style=long-iso)
LS_GROUPDIRSFIRST=$(is-supported "ls --group-directories-first" --group-directories-first)

alias l='ls -lahA $LS_COLORS $LS_TIMESTYLEISO $LS_GROUPDIRSFIRST'
alias la='ls -lAF $LS_COLORS' # List all files colorized in long format, excluding . and ..
alias lsd='ls -lF $LS_COLORS | grep --color=never ^d' # List only directories
alias lsh='ls -dlA .?* $LS_COLORS $LS_TIMESTYLEISO $LS_GROUPDIRSFIRST' # Lists hidden files in long format.
alias lt='ls -lhAtr $LS_COLORS $LS_TIMESTYLEISO $LS_GROUPDIRSFIRST'
alias ld='ls -ld $LS_COLORS */'
alias lp="stat -c '%a %n' *"

unset LS_COLORS LS_TIMESTYLEISO LS_GROUPDIRSFIRST

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Colorizes diff output, if possible.
if type 'colordiff' > /dev/null 2>&1; then
    alias diff='colordiff'
fi

# Finds directories.
alias fdd='find . -type d -name'
# Finds files.
alias fdf='find . -type f -name'


# Global aliases
if $(is-supported "alias -g"); then
  alias -g G="| grep -i"
  alias -g H="| head"
  alias -g T="| tail"
  alias -g L="| less"
fi


# List declared aliases, functions, paths
alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'

# Sets editors and defaults.
alias edit='${EDITOR:-${ALTERNATE_EDITOR:-vi}}'
alias e='edit'
alias se='sudo e'
alias vi='vim'
alias vis='vim "+set si"'
alias snano='sudo nano'
alias svim='sudo ${VISUAL:-vim}'
alias vimh='vim -c ":h | only"'


# Reloas the shell.
alias reload='exec $SHELL -l'


# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"


# Navigation
# -----------------------------------------------------------------------------

alias cd..='cd ..'       # Common misspelling for going up one directory
alias ~="cd ~"           # `cd` is probably faster to type though
alias -- -='cd -'        # Go back

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


# Shortcuts
alias d="cd ~/dev"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias dc="cd ~/Documents"


# Time
# -----------------------------------------------------------------------------

# Gets local/UTC date and time in ISO-8601 format `YYYY-MM-DDThh:mm:ss`.
alias now='date +"%Y-%m-%dT%H:%M:%S"'
alias unow='date -u +"%Y-%m-%dT%H:%M:%S"'

# Gets date in `YYYY-MM-DD` format`
alias nowdate='date +"%Y-%m-%d"'
alias unowdate='date -u +"%Y-%m-%d"'

# Gets time in `hh:mm:ss` format`
alias nowtime='date +"%T"'
alias unowtime='date -u +"%T"'

# Gets Unix time stamp`
alias timestamp='date -u +%s'

# Gets week number in ISO-8601 format `YYYY-Www`.
alias week='date +"%Y-W%V"'

# Gets weekday number.
alias weekday='date +"%u"'


# Weather
# -----------------------------------------------------------------------------

alias wttr="curl wttr.in"

# Displays detailed weather and forecast.
if command -v curl > /dev/null; then
    alias forecast='curl --silent --compressed --max-time 10 --url "https://wttr.in?F"'
else
    alias forecast='wget -qO- --compression=auto --timeout=10 "https://wttr.in?F"'
fi

# Displays current weather.
if command -v curl > /dev/null; then
    alias weather='curl --silent --compressed --max-time 10 --url "https://wttr.in/?format=%l:+(%C)+%c++%t+\[%h,+%w\]"'
else
    alias weather='wget -qO- --compression=auto --timeout=10 "https://wttr.in/?format=%l:+(%C)+%c++%t+\[%h,+%w\]"'
fi


# Ubuntu
# -----------------------------------------------------------------------------

# install with apt-get
alias apti='sudo apt install'
alias aptup='sudo apt-get update && sudo apt-get upgrade'

# Locks the session.
alias lock='gnome-screensaver-command --lock'


# GIT
# -----------------------------------------------------------------------------

alias g='git'

# git-branch-default
# gets the default git branch
alias gbdefault='git symbolic-ref refs/remotes/origin/HEAD | sed "s@^refs/remotes/origin/@@"'

# git-branch-clean
# removes all local branches which have been merged into the default branch
alias gbclean='git checkout -q "$(gbdefault)" && git for-each-ref refs/heads/ "--format=%(refname:short)" | grep -v -e main -e master -e develop -e dev | while read branch; do mergeBase=$(git merge-base "$(gbdefault)" "$branch") && [[ $(git cherry "$(gbdefault)" $(git commit-tree $(git rev-parse "$branch^{tree}") -p $mergeBase -m _)) == "-"* ]] && git branch -D $branch; done && git fetch --prune --all'

# Networking
# -----------------------------------------------------------------------------

alias speedtest="wget -O /dev/null http://speed.transip.nl/100mb.bin"

alias vpn="protonvpn-cli"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

alias myip="curl http://ipecho.net/plain; echo"

# Stop after sending count ECHO_REQUEST packets #
alias ping='ping -c 5'

# resume by default
alias wget='wget -c'
# Pings hostname(s) 30 times in quick succession.
alias fastping='ping -c 30 -i.2'

# Flushes the DNS cache.
alias flushdns='sudo /etc/init.d/dns-clean restart && echo DNS cache flushed'

# Gets all IP addresses.
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Gets local IP address.
alias localip="ip route get 1 | awk '{print \$NF;exit}'"

# Gets external IP address.
if command -v dig > /dev/null 2>&1; then
    alias publicip='dig +short myip.opendns.com @resolver1.opendns.com'
elif command -v curl > /dev/null 2>&1; then
    alias publicip='curl --silent --compressed --max-time 5 --url "https://ipinfo.io/ip"'
else
    alias publicip='wget -qO- --compression=auto --timeout=5 "https://ipinfo.io/ip"'
fi

# Sends HTTP requests.
command -v lwp-request > /dev/null 2>&1 && for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    #shellcheck disable=SC2139
    alias $method="lwp-request -m '$method'"
done
unset method;



# Sysadmin
# -----------------------------------------------------------------------------

alias hosts='sudo $EDITOR /etc/hosts'

# searchable process list
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"

# Display drives and space in human readable format:
alias drives='df -h'

## pass options to free ##
alias meminfo='free -m -l -t'
 
## get top process eating memory
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
 
## get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'
 
## Get server cpu info ##
alias cpuinfo='lscpu'
 
## get GPU ram on desktop / laptop##
alias gpumeminfo='grep -i --color memory /var/log/Xorg.0.log'

## shortcut  for iptables and pass it via sudo#
alias ipt='sudo /sbin/iptables'
 
# display all rules #
alias iptlist='sudo /sbin/iptables -L -n -v --line-numbers'
alias iptlistin='sudo /sbin/iptables -L INPUT -n -v --line-numbers'
alias iptlistout='sudo /sbin/iptables -L OUTPUT -n -v --line-numbers'
alias iptlistfw='sudo /sbin/iptables -L FORWARD -n -v --line-numbers'
alias firewall=iptlist

# get web server headers #
alias header='curl -I'
 
# find out if remote server supports gzip / mod_deflate or not #
alias headerc='curl -I --compress'

# Prints each $PATH entry on a separate line.
alias path='echo -e ${PATH//:/\\n}'



# systemd shortcuts (Linux)
alias sc='systemctl'
alias scu='systemctl --user'
alias scdr='systemctl daemon-reload'
alias scdru='systemctl --user daemon-reload'
alias scr='systemctl restart'
alias scru='systemctl --user restart'
alias sce='systemctl stop'
alias sceu='systemctl --user stop'
alias scs='systemctl start'
alias scsu='systemctl --user start'




# Node/NPM
# -----------------------------------------------------------------------------

alias node-dev='export NODE_ENV=development'
alias node-prod='export NODE_ENV=production'

# npm
alias ni='npm install'
alias nri="rm -rf node_modules && npm install"
alias nis='npm install --save'
alias nid='npm install --save-dev'
alias nit='npm install-test'
alias nits='npm install-test --save'
alias nitd='npm install-test --save-dev'
alias nu='npm uninstall'
alias nus='npm uninstall --save'
alias nusd='npm uninstall --save-dev'
alias np='npm publish'
alias nup='npm unpublish'
alias nlk='npm link'
alias nod='npm outdated'
alias nrb='npm rebuild'
alias nud='npm update'
alias nr='npm run'
alias nls='npm list --depth=0 2>/dev/null'
alias nlsg='npm list -g --depth=0 2>/dev/null'
alias nt='npm test'
alias ncd="npm-check -su"

# npx
alias nx='npx'
alias nxplz='npx $(fc -ln -1)'
alias nxn='npx --no-install '
alias nxp='npx -p '
alias nxnp='npx --no-install -p '
alias nxq='npx -q '
alias nxnq='npx --no-install -q '
alias nxqp='npx -q -p '
alias nxnqp='npx --no-install -q -p '
alias nxni='npx --no-install --ignore-existing '
alias nxip='npx --ignore-existing -p '
alias nxnip='npx --no-install --ignore-existing -p '
alias nxqi='npx -q --ignore-existing '
alias nxniq='npx --no-install --ignore-existing -q '
alias nxiqp='npx --ignore-existing -q -p '
alias nxniqp='npx --no-install --ignore-existing -q -p '

