[Desktop Entry]
Version=1.0
Type=Application
Name=Zettlr
GenericName=Text Editor
Comment=GUI for creating and managing a Zettelkasten knowledge base
Exec=/home/ben/dev/lib/zettlr/out/Zettlr-linux-x64/Zettlr
MimeType=text/markdown;text/plain;
Icon=/home/ben/dev/lib/zettlr/out/Zettlr-linux-x64/resources/icon.code.icns
Categories=TextEditor;Productivity;
